$bg-color: #fefefe;
$color: #2c3e50;

html,
body,
header,
aside,
footer,
article,
ul {
  margin: 0;
  padding: 0;
}

body {
  background-color: $bg-color;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
